{% extends 'diary/base.html' %} {% block content %} {% load my_tags %}

<div class="container">
  <div class="row">
    <div class="col-xxl-3"></div>
    <div class="col-xxl-6 text-center justify-content-center">
      <form method="post" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %}
        <p>Желаете удалить эту статью?</p>
        <button type="submit" class="btn btn-danger">Подтвердить</button>
        <a href="{% url 'diary:diary_entry_detail' object.pk %}" class="btn btn-warning">Отмена</a>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
