{% extends './base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h2>Почему стоит выбрать нас?</h2>
    <ul>
      <li><strong>Приватность и безопасность:</strong> Ваши записи защищены и доступны только вам.</li>
      <li>
        <strong>Удобство использования:</strong> Легкий и интуитивно понятный интерфейс для создания и редактирования
        записей.
      </li>
      <li>
        <strong>Организация записей:</strong> Категории, теги и возможность поиска делают управление дневником простым и
        удобным.
      </li>
      <li>
        <strong>Доступ с любого устройства:</strong> Ведите дневник на компьютере, планшете или смартфоне — всё
        синхронизируется.
      </li>
    </ul>

    <h2>Функции</h2>
    <ul>
      <li><strong>Создание записей:</strong> Пишите о событиях дня, планах на будущее или просто делитесь мыслями.</li>
      <li>
        <strong>Добавление тегов:</strong> Упорядочивайте записи, добавляя теги, чтобы легко находить нужные моменты.
      </li>
      <li><strong>Защита паролем:</strong> Только вы имеете доступ к своему дневнику.</li>
      <li><strong>Темы и оформление:</strong> Настройте внешний вид дневника под своё настроение.</li>
      <li><strong>Напоминания:</strong> Устанавливайте напоминания, чтобы не забывать вести записи.</li>
    </ul>

    <h3>Начните вести дневник уже сегодня</h3>
    <p>
      Не откладывайте на завтра — начните записывать свои мысли и эмоции прямо сейчас. Создайте аккаунт и начните вести
      личный дневник в нашем приложении.
    </p>

    <div class="col-6 list-group rig"></div>
  </div>
</div>
{% endblock content %}
